/*Import phông chữ của Google*/
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo a {
  padding-top: 10px;
  font-family: 'Borel', cursive;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  position: relative;
  display: inline-block;
  animation: slideRight 1s ease forwards;
}

.logo a:hover {
  color: #ff8787;
}

/* Navbar animations */
.nav-links {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.nav-links li {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

/* Stagger the animation delay for each nav item */
.nav-links li:nth-child(1) {
  animation-delay: 0.1s;
}

.nav-links li:nth-child(2) {
  animation-delay: 0.2s;
}

.nav-links li:nth-child(3) {
  animation-delay: 0.3s;
}

.nav-links li:nth-child(4) {
  animation-delay: 0.4s;
}

.nav-links li:nth-child(5) {
  animation-delay: 0.5s;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
}

.nav-links a:hover {
  color:#ff8787;
  transition: color 0.3s;
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff8787;
  transition: width 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color:#ff8787;
  transition: color 0.3s;
}

/* Thêm icon cho menu di động */
.menu-toggle {
  display: none; /* Ẩn trên desktop */
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  z-index: 1001; /* Đảm bảo icon luôn ở trên cùng */
}

/* Responsive cho Header */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Hiện trên mobile */
  }

  .nav-links {
    position: absolute;
    top: 70px; /* Chiều cao của header */
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  .nav-links.active {
    max-height: 300px; /* Chiều cao đủ để chứa các link */
  }

  .nav-links li {
    padding: 1rem 0;
  }

  .nav-links a::after {
    /* Ẩn gạch chân animation trên mobile */
    display: none;
  }
}

/* Define the slideRight animation */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Define fadeIn animation */
@keyframes fadeIn {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}